@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgb(245, 152, 31), rgb(223, 111, 6), rgb(211, 32, 0));
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: white;
}

section {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.603);
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;    
}

.box-index1 {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
}

#titleCalcule {
    margin: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315)
}

.box-input {
    font-size: 1.1em;
    color: white;
}

input {
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-bottom: 1.7px solid rgb(235, 125, 0);
    margin-bottom: 20px;
    color: rgb(252, 77, 8);
    font-size: 1.05em;
}

button {
    background-color: whitesmoke;
    margin: auto;
    border: none;
    padding: 10px 20px;
    width: 60%;
    border-radius: 8px;
    background-color: rgb(228, 141, 101);
    color: white;
    font-size: 1.05em;
}

button:hover {
    transform: scale(1.08);
    transition: ease-in 0.2s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.144);
}

button:not(hover) {
    transition: ease-in 0.1s;
}